@font-face {
  font-family: proxima;
  src: url('../fonts/proxima.ttf');
}
a {
  color: #0096af;
  font-size: 14px;
  font-family: sans-serif;
}
a:hover {
  cursor: pointer;
  color: darke(#0096af, 30%);
}
h1,
h2,
h3,
h4,
p,
ul,
li,
table {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
.logo {
  cursor: default;
  padding: 0;
  text-align: left;
  letter-spacing: -3px;
  text-transform: uppercase;
  color: #ff6400;
  font-family: 'proxima';
  font-size: 44px;
}
.search_spaced {
  margin: 10px 0 0 0;
}
.row {
  display: block;
  height: 100px;
}
.user-box .user-box_name {
  cursor: pointer;
  padding-top: 30px;
  vertical-align: middle;
  font-family: 'proxima';
  font-size: 14px;
  color: #666666;
}
.user-box .user-box_name:hover {
  color: #999999;
  text-decoration: underline;
}
.user-box .user-box_more {
  padding: 30px 10px 0 10px;
  color: #666666;
  font-size: 14px;
}
.user-box .user-box_more:hover {
  color: #999999;
}
.u-pull-left {
  float: left;
}
.u-pull-right {
  float: right;
}
.u-padding-top {
  padding-top: 15px;
}
.container {
  width: 1024px;
  margin: 0 auto;
}
.u-inline-block {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.col-1 {
  width: 8.333%;
}
.col-2 {
  width: 16.666%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333%;
}
.col-5 {
  width: 41.666%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333%;
}
.col-8 {
  width: 66.666%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.333%;
}
.col-11 {
  width: 91.666%;
}
.col-12 {
  width: 100%;
}
.u-clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.search {
  border: 1px solid #cccccc;
  background-color: #fff;
}
.search .search_btn {
  cursor: pointer;
  color: #0096af;
  margin: 7px 5px;
  font-size: 14px;
  float: right;
}
.search .search_btn:hover {
  color: #006a7c;
}
.search .search_btn_more {
  cursor: pointer;
  color: #0096af;
  font-size: 14px;
  margin: 7px 5px;
  float: right;
}
.search .search_btn_more:hover {
  color: #006a7c;
}
.search .search_input {
  font: 100 italic 12px sans-serif;
  color: #0096af;
  vertical-align: middle;
  height: 20px;
  margin: 4px;
  display: block;
  border: none;
}
.search .search_input:focus {
  outline: none;
}
.search .search_input::-webkit-input-placeholder {
  color: #0096af;
}
.search_menu .search_menu_item {
  font-family: 'proxima';
  cursor: pointer;
  font-size: 12px;
  display: inline-block;
  color: #666666;
  text-transform: uppercase;
}
.search_menu .search_menu_item:hover {
  text-decoration: underline;
}
.search_menu .search_menu_item:before {
  content: '|';
  padding-right: 5px;
  text-decoration-skip: objects;
}
.search_menu .search_menu_item:first-child:before {
  content: '';
}
