//typo



a{
	text-decoration: none;
	color:@brand-blue;
	&:hover{
	color:@brand-base;
	}
	&:focus{
    color:@brand-base;
	}
	&:active{

	}
}

h1, h2, h3, h4, h6, p, ul, li, table, img{
	margin: 0;
	padding: 0;
}

//toDo: в variablers.less должны появится переменные линейки шрифтов.
h3{

	color: @brand-base;
	text-transform: uppercase;
	font: @font-style-h3;
	margin-bottom: @padding-mid-horizontal;
}
h4{
	color: @gray-darkest;
	text-transform: uppercase;
	font: @font-style-h4;
    letter-spacing: -1px;
}
h6{
    color: @gray-darkest;
    font: @font-style-h6;
    letter-spacing: -1px;
    margiin: 0 0 0 0;
}
//tables_lists

ul{
	list-style-type: none;
}