//typo



a{
	text-decoration: none;
	color:@brand-blue;
	&:hover{
	color:@brand-base;
	}
	&:focus{
    color:@brand-base;
	}
	&:active{

	}
}

h1, h2, h3, h4, p, ul, li, table, img{
	margin: 0;
	padding: 0;
}

//toDo: в variablers.less должны появится переменные линейки шрифтов.
h3{

	color: @brand-base;
	text-transform: uppercase;
	font: 600 25px sans-serif;
	margin-bottom: @padding-mid-horizontal;
}
h4{
	color: @gray-darkest;
	text-transform: uppercase;
	font: 600 25px sans-serif;
}
//tables_lists

ul{
	list-style-type: none;
}