//layout


	.logo{
		cursor: default;
		padding: @padding-base-vertical*2 0;
		text-align: left;
		letter-spacing: -3px;
		text-transform: uppercase;
		color: @logo-font-color;
		font-family: @logo-font-family;
		font-size: @logo-font-size;
	}



.l-search{
	padding: @padding-base-vertical*2 @padding-base-horizontal;
}


