//layout


//container
.container{
	width: @container-width;
	margin: 0 auto;
}

.logo{
    a {
        cursor: pointer;
        text-align: left;
        letter-spacing: -3px;
        text-transform: uppercase;
        color: @logo-font-color;
        font-family: @logo-font-family;
        font-size: @logo-font-size;
    }
}




.l-search_input{
	padding-right: @padding-base-horizontal *10;
}