//menu

.menu{

    //toDo: ты избыточно поназначал. если описываешь шрифт у ссылки какая разница какой он у .menu_item ?
    //toDo: .menu_item наверно только display: inline-block; остается?
    .menu_item,a{
        letter-spacing: -1px;
        display: inline-block;
        text-transform: uppercase;
        font:100  (@menu_item-font-size) 'proxima';
        color:@gray-darkest;
    }
    a{
        text-decoration: none;

        &:hover,&:focus{
            color:@brand-base;
        }
        &:active{

        }
    }
    .menu_item{
        &:before{
            color:@gray-dark;
            content: '|';
            padding: 0 @padding-base-horizontal*2;
        }
        &:first-child:before{
            content: '';
            padding: 0 @padding-base-horizontal;
        }
    }
}