//menu

.menu{
    .menu_item,a{
        display: inline-block;
    }
    a{
        letter-spacing: -1px;
        font:100  (@menu_item-font-size) 'proxima';
        color:@gray-darkest;
        text-decoration: none;
        text-transform: uppercase;

        &:hover,&:focus{
            color:@brand-base;
        }
        &:active{

        }
    }
    .menu_item{
        &:before{
            color:@gray-dark;
            content: '|';
            padding: 0 @padding-base-horizontal*2;
        }
        &:first-child:before{
            content: '';
            padding: 0 @padding-base-horizontal;
        }
    }
}