//menu

.l-home-btn{

    display: inline-block;
    color:@brand-base;
    font-size: @home-btn-size;
    margin: 0 @padding-base-horizontal;
    float: left;
    &:hover,&:focus{
        color:@l-home-btn-color;
    }
}
.menu{
    margin-top:@menu-margin-top;
    float: left;
    ul{
        display: inline-block;
        margin-left: -10px;
    }


    .menu_item,a{
        letter-spacing: -1px;
        display: inline-block;
        text-transform: uppercase;
        font:100  (@menu_item-font-size) 'proxima';
        color:@gray-darkest;
    }
    a{
        text-decoration: none;

        &:hover,&:focus{
            color:@brand-base;
        }
        &:active{

        }
    }
    .menu_item{
        &:before{
            content: '|';
            padding: 0 @padding-base-horizontal*2;
        }
        &:first-child:before{
            content: '';
        }
    }
}