//search

.search{
	border: 1px solid @gray;
	background-color: @white;
	.search_btn{
		cursor:pointer;
		color:@search_btn-color;
		margin:@search_btn-margin-top @padding-large-horizontal;
		font-size: @search_btn-size;
		float:right;
		&:hover{
		    color:@search_btn-color-hover;
		}
	}
	.search_btn_more{
		cursor:pointer;
		color:@search_btn-color;
        font-size: @font-size-base;
		margin:@search_btn-margin-top @padding-large-horizontal;
		float:right;
		&:hover{
		    color:@search_btn-color-hover;
		}
	}

	.search_input{
		font: 100 italic @search_input-font-size sans-serif;
		color: @blue-color;
        vertical-align: middle;
        height: @search-height;
        margin: @search_input-margin;
      width: 100%;
        display: block;
        border: none;
        &:focus{
            outline:none;
        }
	    &::-webkit-input-placeholder {
            color: @blue-color;
        }
    }
}


.search_menu{

    .search_menu_item{
      font-family: 'proxima';
      cursor: pointer;
      font-size: @search_menu_item-font-size;
      color: @search_menu-color;
      text-transform: uppercase;
      display: inline-block;
      &:before{
        content: '|';
        padding-right: @padding-base-horizontal;
      }
      &:first-child:before{
        content: '';
      }
        a {
          font-family: 'proxima';
          cursor: pointer;
          font-size: @search_menu_item-font-size;
          color: @search_menu-color;
          text-transform: uppercase;
          &:hover {
            text-decoration: underline;
          }
        }
	}
}