//toDO: пробел перед стрелкой подчеркивается на ховер
.user-box {
    float:right;
    //toDO: в случае длинной фамилии ломается верстка - а картинка должна оставать справа, подумай как лучше чтобы переносилось на след строку - но тогда иконку нужно делать версткой всегда справа по центру. Или ellipsis
    .user-box_actions {
        cursor: pointer;
        margin-top: 30px;
        //toDO: что тебе дает vertical-align если ты выравниваешь маржином сверху?
        vertical-align: middle;
        font-family: 'proxima';
        font-size: @user-box_actions-font-size;
        color: @gray-darkest;
        &:after {
            padding: 0 10px 0 0;
            color: @gray-darkest;
            font: @font-size-base FontAwesome;
            content: ' \f0d7';
        }
        &:hover {
            color: @gray-dark;
            text-decoration: underline;
            &:after {
                color: @gray-dark;
            }
        }
    }
    .user-box_more {
        &:hover {
            color: @gray-dark;
        }
    }
}